
<ion-content class="ion-padding">
  <div class="login-container">
    <img src='../../../assets/Instagram_logo.svg.png' alt="Instagram Logo" class="instagram-logo">
  <div class="container">
    <div>

  <ion-item lines="none" class="ion-margin-top">
    <ion-label position="stacked">Username</ion-label>
    <ion-input type="text" placeholder="Phone number, username" clearInput></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" placeholder="Password" clearInput></ion-input>
  </ion-item>
  <ion-button expand="block" color="primary" class="ion-margin-top" (click)="navigate()">Log In</ion-button>
  <p class="ion-text-center footer">
    Don't have an account? <a href="#">Sign up</a>
  </p>
</div>
</div>
  </div>
</ion-content>
